# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/

# macOS
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Git
.git
.gitignore
